
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Laurens Care Geriatrics</title>
    <link rel="stylesheet" href="~/Content/Style.css" />
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="/Home/Index"><img src="~/Images/LaurensCare.png" alt="pathing issue" /></a>
            </div>
            <ul class="nav-area">
                <li><a>@Html.ActionLink("Log Out", "LogOut", "Customers")</a></li>
            </ul>
        </div>

        <section>            
            <h2>Thank you for filing a consultation request with Lauren's Care! An employee will contact you<br />
                soon to schedule a consultation. After your consultation, if home care is chosen as your resident's<br />
                next steps, we will grant your account further access to utilize our services. Thank you!</h2>
        </section>

    </header>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}