@model SoloCapstone.Models.Customer

@{
    ViewBag.Title = "NotYetConsulted";
}

<h2>Thank you for your consultation request; an employee will reach out to you shortly to schedule a time for consultation!</h2>
<h2>Once you have been consulted, if home care has been chosen as a desired plan of action, our employees will provide you further access to utilize our services as a customer.</h2>
<h2>Thank you!</h2>

