@model SoloCapstone.Models.Customer

@{
    ViewBag.Title = "NotYetConsulted";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Laurens Care Geriatrics</title>
    <link rel="stylesheet" href="~/Content/Style.css" />
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="~/Images/LaurensCare.png" alt="pathing issue" />
            </div>
            <ul class="nav-area">
                <li><a>@Html.ActionLink("Log Out", "LogOut", "Customers")</a></li>
            </ul>
        </div>

        <div class="box">
            <h2>
                Thank you for filing a consultation request with Lauren's Care! An employee will contact you
                soon to schedule a consultation. After your consultation, if home care is chosen as your resident's
                next steps, we will grant your account further access to utilize our services. Thank you!<br />-Lauren
            </h2>
        </div>
            
        

    </header>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}