*{
    margin: 0;
    padding: 0;
    
}
.wrapper{
    width: auto;
    margin: auto;
}
header {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../Images/Journal.png");
    background-position: center center;
    height: 100%;
    width: auto;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
}
.logo img{
    width: 400px;
    float: left;
    height: auto;
}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}
.welcome-text h1{
    text-align:center;
    color: #FFF;
    text-transform: uppercase;
    font-size: 60px;
    font-family: poppins;
}
.welcome-text a{
    border: 1px solid #FFF;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #FFF;
    font-family: poppins;
}
.welcome-text a:hover{
    background: #fff;
    color: #333;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: Arial;
    font-size: 20px;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
}
h2{
    color:#fff;
}
textarea {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #808080;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;

}
.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    border-radius: 24px;
    opacity: 1;
}
.box h1{ 
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-family: sans-serif;
}
.box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto; 
    text-align: center;
    border: 2px solid #808080;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    width: 280px;
    border-color: #1da50d;    
}
.box input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #1da50d;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type = "submit"]:hover {
    background: #1da50d;
}
.container{
    position:page;
    width: auto;
    height: auto;
}
.container .box{
    position: relative;
    width: 300px;
    height: auto;
    top: 1000px;
    margin: 15px;
    /*box-sizing: border-box;*/
}



section {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-45%,0%);
}


.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em; /*font size slightly smaller than text around table*/
    min-width: 800px;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
}
.content-table thead tr {
    background-color: #9ab8bf;
    color: black;
    text-align: left;
    font-weight: bold;
}

.content-table th, 
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #808080;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #676767
}

.content-table tbody tr:nth-of-type(odd) {
    background-color: #a1a1a1
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #9ab8bf;
}